<h1> Activity 1 - PALMER PENGUINS DATA ANALYTICS PROJECTS </h1>
<h3>Analyst: REUEL MAGADIA</h3>

In [1]:
import numpy as np
import pandas as pd

In [7]:
penguins = pd.read_csv('datasets\\penguins.csv')

In [39]:
penguins

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

<h3>1. How many penguins are in the data?</h3>

In [40]:
num_penguins = penguins.shape[0]

In [41]:
num_penguins

344

<h6>Insight: This dataset is relatively small, making it easier to explore visually and statistically. However, some rows contain missing values, so cleaning may be necessary before analysis.</h6>

<h3> 2. How many penguins belong to each species?</h3>

In [42]:
species_counts = penguins['species'].value_counts()

In [43]:
species_counts

species
Adelie       152
Gentoo       124
Chinstrap     68
Name: count, dtype: int64

<h6>Insight: Adelie penguins make up the largest portion of the dataset, while Chinstrap penguins are the least represented. This imbalance could affect statistical comparisons between species.</h6>

<h3>3. What is the average bill length for each species? </h3>

In [44]:
avg_bill_length = penguins.groupby('species')['bill_length_mm'].mean()

In [45]:
avg_bill_length

species
Adelie       38.791391
Chinstrap    48.833824
Gentoo       47.504878
Name: bill_length_mm, dtype: float64

<h6>Insight: Chinstrap penguins have the longest average bill length, followed closely by Gentoo, while Adelie penguins have noticeably shorter bills. This difference could be linked to their feeding habits.</h6>

<h3>4. Which island has the largest average body mass?</h3>

In [46]:
avg_mass_by_island = penguins.groupby('island')['body_mass_g'].mean()
largest_island = avg_mass_by_island.idxmax()

In [47]:
largest_island, avg_mass_by_island[largest_island]

('Biscoe', np.float64(4716.017964071856))

<h6>Insight: Penguins on Biscoe Island are generally heavier, possibly because of species composition (more Gentoo penguins, which are larger on average).</h6>

<h3>5. What is the heaviest penguin recorded?</h3>

In [48]:
heaviest_penguin = penguins.loc[penguins['body_mass_g'].idxmax()]

In [49]:
heaviest_penguin

rowid                   170
species              Gentoo
island               Biscoe
bill_length_mm         49.2
bill_depth_mm          15.2
flipper_length_mm     221.0
body_mass_g          6300.0
sex                    male
year                   2007
Name: 169, dtype: object

<h6>Insight: The heaviest penguin is a male Gentoo from Biscoe Island. Gentoos are generally the largest species in this dataset.</h6>

<h3>6. How many male and female penguins are there?</h3>

In [50]:
sex_counts = penguins['sex'].value_counts()

In [51]:
sex_counts

sex
male      168
female    165
Name: count, dtype: int64

<h6>Insight: The dataset has a nearly equal distribution of male and female penguins, which is good for gender-based comparative studies.</h6>

<h3>7. What is the correlation between flipper length and body mass?</h3>

In [52]:
correlation = penguins['flipper_length_mm'].corr(penguins['body_mass_g'])

In [53]:
correlation

np.float64(0.8712017673060113)

<h6>Insight: Longer flippers tend to be associated with heavier penguins. This relationship makes sense biologically, as larger penguins require bigger flippers for efficient swimming.</h6>

<h3>8. Which year has the highest number of penguin records?</h3>

In [68]:
year_counts = penguins['year'].value_counts()

year_counts

<h6>Most records are from 2009.</h6>

<h3>9. What is the correlation between bill depth and bill length?</h3>

In [55]:
bill_correlation = penguins['bill_length_mm'].corr(penguins['bill_depth_mm'])

In [56]:
bill_correlation

np.float64(-0.23505287035553257)

<h6>Thereâ€™s a slight negative correlation â€” longer bills tend to be slightly shallower.</h6>

<h3>10. What percentage of penguins have missing values?</h3>

In [57]:
missing_percentage = penguins.isnull().any(axis=1).mean() * 100

In [58]:
missing_percentage

np.float64(3.1976744186046515)

<h6>The dataset is mostly complete but still has some missing entries.</h6>

<h3>11. Which speciesâ€“island combo has the longest average bill length?</h3>

In [59]:
avg_bill_by_species_island = penguins.groupby(['species', 'island'])['bill_length_mm'].mean()
longest_bill_combo = avg_bill_by_species_island.idxmax()
longest_bill_value = avg_bill_by_species_island.max()

In [60]:
longest_bill_combo, longest_bill_value

(('Chinstrap', 'Dream'), np.float64(48.83382352941176))

<h6>Chinstrap penguins on Dream Island have the longest bills on average.</h6>

<h6>12. For each species, what is the min and max body mass recorded?</h6>

In [61]:
mass_range_by_species = penguins.groupby('species')['body_mass_g'].agg(['min', 'max'])

In [62]:
mass_range_by_species

              min     max
species
Adelie     2850.0  4775.0
Chinstrap  2700.0  4800.0
Gentoo     3950.0  6300.0

<h6>Gentoo penguins are the largest species, Chinstrap the smallest at minimum.</h6>

<h3>13. What is the average flipper length for each sex?</h3>

In [63]:
avg_flipper_by_sex = penguins.groupby('sex')['flipper_length_mm'].mean()

In [64]:
avg_flipper_by_sex

sex
female    197.363636
male      204.505952
Name: flipper_length_mm, dtype: float64

<h6>Males tend to have longer flippers on average.</h6>